antlr aopalliance asm aspectj avalon-framework avalon-logkit backport-util-concurrent biz bsf c3p0 cglib ch classworlds com commons-beanutils commons-chain commons-cli commons-codec commons-collections commons-dbcp commons-digester commons-fileupload commons-httpclient commons-io commons-jexl commons-lang commons-logging commons-math3 commons-net commons-pool commons-pool2 commons-validator concurrent de dnsjava dom4j edu excalibur-component excalibur-datasource excalibur-instrument excalibur-logger excalibur-pool geronimo-spec hsqldb io javax jcharts jdom jfree jline jmock joda-time jstl junit junitperf kr log4j logkit mysql nekohtml net org oro plexus qdox regexp rome servletapi settings.xml slide soap sslext stax xalan xerces xml-apis xmlpull xpp3
